@model Genre
@{
    ViewData["Title"] = "AddGenre";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" placeholder="Add Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-action="AddGenre">Add</button>
</form>
